<!-- https://fontawesome.com/v4/icons/ -->

<% for(var i = 0; i < users.length; i++) { %>
<tr>
    <td><%= i + 1 %></td>
    <td><%= users[i].id_topic %></td>
    <td><%= users[i].mac_address %></td>
    <td><%= users[i].fabrication_number %></td>
    <td><%= users[i].status %></td>
    <td><%= users[i].cart_available %></td>
    <td>
        <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= users[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
        
        <a href="/send_to_car?id=<%= users[i]._id%>" class="btn border-shadow send" data-id=<%= users[i].id_topic%> >
            <span class="text-gradient"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        </a>

    </td>
</tr>
<% } %>